body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

/* Old Container

.container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
} */

h1 {
  color: #9E1B32;
}

button {
  background-color: rgba(158, 27, 50, 0.9); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(138, 23, 43, 0.9); 
}

input, select {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid rgba(130, 138, 143, 0.9); 
  border-radius: 5px;
  width: 100%;
}

.matchup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(130, 138, 143, 0.85); 
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  color: #FFFFFF;
}

/* New stuff as of 25AUG2023

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  border: none;
  padding: 0.6em;
  margin: 0.5em 0;
  border-radius: 8px;
  font-size: 1em;
  width: 240px;
  background-color: rgba(245, 245, 245, 1);
  transition: background-color 0.25s;
}

input:focus {
  outline: none;
  background-color: rgba(235, 235, 235, 1);
}

@media (prefers-color-scheme: light) {
  input {
    background-color: rgba(10, 10, 10, 0.04);
  }
  input:focus {
    background-color: rgba(10, 10, 10, 0.08);
  }
}
